html {
  background-color: black;
  color: white;
  font-family: "Host Grotesk", "Poppins";
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: auto;

  overflow-x: hidden;
}

html * {
  margin: 0;
  padding: 0;
}


header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 1);
  z-index: 100000;
}

.header-img a {
  height: 100%;
  position: absolute;
}


a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-img img {
  height: 100%;
  object-fit: cover;

}



.hamburger-icon {
  opacity: 0.9;
  width: 30px;
  height: 4px;
  position: fixed;
  top: 30px;
  right: 25px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  z-index: 1001;
}

.hamburger-icon::before, .hamburger-icon::after {
  content: '';
  background-color: #fff;
  width: 90%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 10px;
  transition: transform 0.4s ease-in-out;
}

.hamburger-icon::after {
  top: -10px;
}

.hamburger-icon.clicked {
  background-color: transparent;
  z-index: 1003;
}

.hamburger-icon.clicked::before {
  transform: rotate(45deg);
  top: 0;
  left: 50%;
}

.hamburger-icon.clicked::after {
  transform: rotate(-45deg);
  top: 0;
  left: 50%;
}

/* Menu Container */
.hamburger-container {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.4s ease;
  position: fixed;
  top: 0;
  right: 0;
  width: 32%;
  background-color: #131515;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 60px;
  z-index: 1002;
}

.hamburger-container-active {
  transform: translateX(0);
  opacity: 1;
}

.hamburger-container .hamburger-link {
  display: none;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  height: 40px;
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}

.hamburger-container-active .hamburger-link {
  display: block;
}

body.menuOpen .content-wrapper {
  filter: blur(5px);
}


.hamburger-container .special-link {
  color: black;
  background-color: #ff5100;
  padding: 2px 10px;
  font-weight: 800;
}


body.menuOpen .content-wrapper {
  filter: blur(5px);
}

/* 
.hamburger-container .special-link {
  color: white;
  background-color: black;
  padding: 2px 10px;
  font-weight: 800;
} */

.margin-40 {
  padding-top: 80px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.white-bg {
  padding-top: 80px;
  background-color: white;
  color: black;
}

.white-bg .content-subtitle {
  color: white;
  background-color: black;
}

.intro-section {
  position: relative;
  top: 40px;
  height: 700px;
  padding: 40px 0;
}

.intro-phrase {
  font-size: 1.4em;
  font-weight: 600;
}


#particles-js {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100%;
  margin-left: -2%;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro-content {
  position: relative;
  z-index: 1;
  width: 95%;
  height: 100%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.intro-title {
  width: 100%;
  font-size: 3.5em;
  font-family: "Bowbly One", "Host Grotesk", "Poppins";
  font-weight: 800;
}

.intro-subtitle {
  font-size: 1.6em;
}


.svc-container-title {
  position: relative;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}


.svc-title {
  width: 100%;
  font-size: 3em;
  font-family: "Bowbly One", "Host Grotesk", "Poppins";
  font-weight: 800;
  margin-left: -40px;
}

.title-number {
  position: absolute;
  top: -120%;
  left: 50%;
  font-size: 8em;
  opacity: 0.3;
  font-family: "Bowbly One", "Host Grotesk", "Poppins";
  font-weight: 900;
}

.content-container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-subsection {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.content-subtitle {
  color: black;
  background-color: white;
  padding: 2px 10px;
  font-size: 1.4em;
  width: 100%;
  text-align: center;
}

.content-subdesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.seo {
  list-style: circle;
  padding-left: 30px;
}

.content-list li {
  font-size: 1em;
}

.sub-subtitle {
  background-color: white;
  color: black;
  padding: 2px 4px;
  font-weight: 800;
  font-size: 1.1em;
  line-height: 30px;
}




.sublist {
  padding-left: 40px;
}







footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-bottom: 30px;
}

.footer-laptop {
  display: none;
}


.links-container {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.links-title {
  border-bottom: solid 1px white;
}


.links-list ul {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.links-list ul, ul li a {
  text-decoration: none;
  font-style: none;
  color: white;
  list-style-type: none;
}


.footer-brand-container {
  width: 100%;
  padding: 0 10px;

  max-width: 800px;

  display: flex;
  justify-content: center;
  align-items: start;
  
}

.footer-brand-container img{
  width: 40%;
  object-fit: contain;
  max-width: 140px;
}

.socials-container {
  margin-top: 20px;
  width: 55%;

  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: end;

  gap: 10px;
}

.socials-text {
  width: 100%;
  text-align: left;
}

.socials-icons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}


.socials-icons a img {
  width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.cell {
  width: 200px;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: -20px;
}

.cell a {
  font-style: none;
  color: black;
  font-weight: 600;
}

.footer-text {
  width: 85%;
  text-align: center;
  font-style: italic;
}

.footer-bottom {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
}

.footer-bottom p a {
  font-style: none;
  color: white;
}

@media (min-width: 770px) {

  .footer-mobile {
    display: none;
  }

  .footer-laptop {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
  }


  .footer-top {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    gap: 10%;
    height: 180px;
  }

  .logo-vertical {
    width: 15%;
    
    display: flex;
    align-items: center;
    /* transform: rotate(-90deg); */
  }

  .logo-footer {
    width: 120%;
    object-fit: contain;
  }

  .links-container {
    width: 50%;

  }

  .socials-right {
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
  }


  .footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

  .footer-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .copy-cont a {
    color: white;
    font-style: none;
  }


}


.slideRight {
  will-change: transform, opacity;

  animation: slideRightAnimation both;
  animation-timeline: view(70% 15%);
}

.slideLeft {
  will-change: transform, opacity;

  animation: slideLeftAnimation both;
  animation-timeline: view(70% 15%);
}


.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(50% 0%);
}

.autoShowLowOpacity {
  animation: autoShowLowOpacity both;
  animation-timeline: view(80% 10%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0.2;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes autoShowLowOpacity {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 0.3;
    transform: translateY(0);
  }
}


@keyframes slideLeftAnimation {
  from {
    opacity: 0.2;
    transform: translateX(100px) scale(1);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slideRightAnimation {
  from {
    opacity: 0.2;
    transform: translateX(-100px) scale(1);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.footer-brand-container img{
  width: 40%;
  object-fit: contain;
  max-width: 140px;
}




.contact-container {
  width: 90%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.contact-button {
  position: relative;
  margin-top: 40px;
  height: 180px;
  width: 180px;
  border-radius: 90px;
  background-color: black;
  transition: ease-in-out 0.3s;
}

.contact-button::after {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transform: scale(1.2);
  z-index: -1;
  background: conic-gradient(orange, orangered, rgb(255, 0, 0), rgb(255, 0, 132), rgb(255, 0, 0), orangered, orange);
  /* background: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red); */
  animation: lazySpin 7s infinite;
}

.contact-button a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  padding: 20px;
}

.contact-button:hover a{
  font-weight: 900;
}

.contact-button:hover {
  transform: scale(1.1);
}


@keyframes lazySpin {
  0% {
    transform: rotate(0deg) scale(1.05);
  }
  50% {
    transform: rotate(180deg) scale(1.1); /* Midpoint with slight scaling */
  }
  100% {
    transform: rotate(360deg) scale(1.05);
  }
}