html {
  background-color: black;
  color: white;
  font-family: "Host Grotesk", "Poppins";
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  height: auto;
}

html, body {
  width: 100%;
  overflow-x: hidden;

}

html * {
  margin: 0;
  padding: 0;
}


header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 1);
  z-index: 1000000000000;
}

i {
  font-size: 0.4em;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 5px;
}

.h2title {
  margin-top: 40px;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

.header-img img {
  height: 100%;
  object-fit: cover;
  pointer-events: none; 
}

.header-img a {
  height: 100%;
  position: absolute;
}

.hamburger-icon {
  opacity: 0.9;
  width: 30px;
  height: 4px;
  position: absolute;
  top: 30px;
  right: 25px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  z-index: 1001;
}

.hamburger-icon::before, .hamburger-icon::after {
  content: '';
  background-color: #fff;
  width: 90%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 10px;
  transition: transform 0.4s ease-in-out;
}

.hamburger-icon::after {
  top: -10px;
}

.hamburger-icon.clicked {
  background-color: transparent;
  z-index: 1003;
}

.hamburger-icon.clicked::before {
  transform: rotate(45deg);
  top: 0;
  left: 50%;
}

.hamburger-icon.clicked::after {
  transform: rotate(-45deg);
  top: 0;
  left: 50%;
}

/* Menu Container */
.hamburger-container {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.4s ease;
  position: fixed;
  top: 0;
  right: 0;
  width: 32%;
  background-color: #131515;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 60px;
  z-index: 1002;
}

.hamburger-container-active {
  transform: translateX(0);
  opacity: 1;
}

.hamburger-container .hamburger-link {
  display: none;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  height: 40px;
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}

.hamburger-container-active .hamburger-link {
  display: block;
}

body.menuOpen .content-wrapper {
  filter: blur(5px);
}


.hamburger-container .special-link {
  color: white;
  background-color: #ff5100;
  padding: 2px 10px;
  font-weight: 800;
}


.intro-section {
  position: relative;
  top: 40px;
  height: 700px;
  padding: 40px 0;
}


#particles-js {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}



.intro-content {
  position: relative;
  z-index: 1;
  width: 90%;
  height: 100%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

.intro-title {
  width: 100%;
  font-size: 3em;
  font-family: "Bowbly One", "Host Grotesk", "Poppins";
  font-weight: 800;
}


.intro-text {
  font-size: 1.5em;
}

.intro-next-text {
  font-size: 1.6em;
}

.contact-link {
  font-style: none;
  color: white;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background-color: orangered;
  padding: 10px 20px;
  text-decoration: none;
}

.contact-link:visited {
  color: white;
}

.contact-link:hover {
  transform: scale(1.05);
  border-radius: 1px;
}


.post-2 {
  font-size: 1.4em;
}









/* ------Services Carousel----------- */
.services-intro-container {
  width: 100vw;
  height: 90px;
  background-color: orangered; 
  overflow: hidden; 
  display: flex;
  align-items: center;
  position: relative;
}

.services-wrapper {
  display: flex;
  animation: scroll-left 10s linear infinite;
  width: calc(200%); 
}

.service-intro {
  flex: 0 0 auto;
  margin: 0 60px;
  color: white;
  text-shadow: 2px 2px 0 brown;
  font-size: 1.6em;
  font-weight: 800;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation: none !important;
      transition: none !important;
  }
}

/* Scrolling animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0); /* Start at the initial position */
  }
  100% {
    transform: translateX(-50%); /* Move half of the content width */
  }
}


/* POST INTRO */

.post-intro-alt {
  display: none;
}

.post-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff; /* White text to stand out on black background */
  font-size: 1.2em;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 40px;
}

.post-intro .post-intro-p {
  margin: 0;
  font-size: 1.4em;
}

.intro-subtitle {
  display: inline-block;
  width: fit-content;
  opacity: 0.85;
}

.post-intro .intro-subtitle {
  font-size: 1.4em;
}

.your-what-cont {
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.4em;
  line-height: 38px;
}

.your-what {
  max-height: 38px;
  width: fit-content;
  animation: yourNew 6s infinite;
  transition: ease-in-out 0.1s;
  line-height: 38px;
  display: flex;
  align-items: start;
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 10px orangered;
  text-align: left;
}

@media (min-width: 760px) {
  .post-intro {display: none;}

  .post-intro-alt {
    width: 100%;
    max-width: 1000px;
    padding: 100px 0;
    margin-right: auto;
    margin-left: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    font-size: 1.4em;
  }

  .left-text-cont {
    width: 30%;
  }

  .post-intro-alt img {
    width: 30%;
    object-fit: contain
  }

  .right-text-cont {
    width: 30%;
    display:flex;
    flex-direction: column;
    align-items: end;
    margin-left: 20px;
  }

  .right-text-cont .your-what-cont {
    width: 100%;
    display: flex;
    justify-content: end;

  }

 

  
}

@keyframes yourNew { 
  0% {
    transform: translateY(0px);
  } 
  29% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-38px);
  }
  59% {
    transform: translateY(-38px);
  }
  60% {
    transform: translateY(-76px);
  }
  98% {
    transform: translateY(-76px);
  }
  99% {
    transform: translateY(76);
  }
}



/* SERVICES SECTION */


.service-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;

  position: relative;

  background-color: azure;
  padding-bottom: 30px;
}

.service-text-title {
  color: black;
  width: 95%;
  margin: 10px auto;
  margin-top: 40px;
}

.service-link {
  color: black;
}

.svc-number {
  font-size: 3em;
  opacity: 0.35;
}

.svc-title .service-item {
  font-size: 1.7em;
  text-decoration: none;
  font-weight: 800;
}

.service-item-container {
  position: relative;
  color: black;
  width: 90%;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  gap: 8px;

  opacity: 0.8;
  margin-top: 40px;
}

.service-item-container::after {
  content:'';
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: gray;
  opacity: 0.8;
}

.service-item-container:hover {
  opacity: 1;
}


.svc-number {
  font-size: 3.5em;
  font-weight: 800;
  opacity: 0.3;
  position: absolute;
  top: -38px;
  left: -20px;
}

@media (max-width: 600px) {

  .svc-number {
    left: -10px;
    margin-left: 10px;
  }
  
}

.expand-btn {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #F0FFFF;
  color: rgb(28, 28, 28);
  font-size: 1.5em;
  font-weight: 400;
  border: none;
  padding: 10px;
  transition: rotate 0.3s ease-in-out;
  box-shadow: 0px 0.5px 2px gray;
}

.plus-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  font-size: 0.5em;
}


/* .expand-btn::before, .expand-btn::after {
  content:'';
  width: 101%;
  height: 101%;
  position: absolute;
  border-radius: 50%;
  background-color: orangered;
  z-index: -1;
} */



.rotated {
  transform: rotate(45deg);
}

h4 {
  display: inline-block;
  color: white;
  background-color: gray;
  font-size: 1.3em;
  padding: 5px;
}

.service-snippet {
  width: 100%;
  opacity: 0.7;
}


.svc-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-expand {
  display: none;
  transform: translateY(-100%);
  transition: translateY 0.5s ease-out, opacity 0.5s ease-out; /* Smooth transition */

  box-shadow: inset 2px 2px 5px gray;
  color: black;
  font-weight: 500;
  box-sizing: border-box;
}

.service-expand.moved {
  display: block;
  transform: translateY(0);
  opacity: 1;  
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Smooth transition */
  padding: 10px;
}


.service-item-container h3 {
  font-size: 1.5em;
}

.service-item-container ul {
  list-style-type: none;
  padding-left: 20px;
}

.service-item-container ul li {
  margin-bottom: 5px;
  position: relative;
}

.service-item-container ul li::after {
  content: '';
  width: 40%;
  position: absolute;
  bottom: -2px;
  left: -2px;
  background-image: linear-gradient(to right, black, transparent);
  height: 1px;
}

.service-item-container ul li span {
  text-decoration: none;
}

/* ------------WORKFLOW------------------ */

.workflow-container {
  width: 90%;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/* Custom Scrollbar */
.scroll-container {
  width: 100%;
  height: 90px;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.current-slide {
  font-size: 1.2em;
}

.scrollbar-new {
  width: 80%;
  margin: 10px auto;
  accent-color: orangered;
  background-color: white;
}


/* 
.hiw-container {
  width: 100%;

  overflow-x: scroll;

  padding-bottom: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}

.hiw-slide {
  inset: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-bottom: 40px;

  text-align: center;
}

.hiw-number {
  font-size: 4em;
  font-weight: 900;
  opacity: 0.6;
}

.hiw-title {
  font-size: 1.5em;
  font-weight: 800;
}

.hiw-description {
  margin-top: 20px;
  width: 85%;
} */

@media (min-width: 1000px) {
  .scroll-container {
    display: none;
  }

  .hiw-container {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .hiw-slide {
    max-width: 500px;
  }

}

/* ------------SAMPLES------------------ */


.samples-container {
  width: 90%;
  margin: 20px auto;

  background-color: black;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.samples-thumb-container::-webkit-scrollbar {
  display: none;
}

.website-snippet {
  width: 90vw;
  height: 600px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.website-snippet img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the area nicely */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.website-snippet {
  max-width: 600px;
}

@media (min-width: 1000px) {
  .samples-thumb-container {
    width: 95%;
    max-height: 700px;
    max-width: 1000px;
    margin: 10px auto;
  
    display: flex;
    flex-direction: row;
    
    flex-wrap: nowrap;
    overflow-x: scroll;
  
    gap: 20px;
  }
  .website-snippet {
    min-width: 550px;
    max-width: 600px;
  }

  .review-body {
    max-width: 600px;
  }

  .buttons-row {
    max-width: 600px;
  }
}




.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 0%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0.2;
    transform: translateY(100px) scale(0.2) rotateY(90deg);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1) rotateY(0deg);
  }
}



/* ------------CONTACT-FOOTER------------------ */

.contact-section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 0;
}

.contact-container {
  width: 90%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.contact-button {
  position: relative;
  margin-top: 40px;
  height: 180px;
  width: 180px;
  border-radius: 90px;
  background-color: black;
  transition: ease-in-out 0.3s;
}

.contact-button::after {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transform: scale(1.2);
  z-index: -1;
  background: conic-gradient(orange, orangered, rgb(255, 0, 0), rgb(255, 0, 132), rgb(255, 0, 0), orangered, orange);
  /* background: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red); */
  animation: lazySpin 7s infinite;
}

.contact-button a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  padding: 20px;
}

.contact-button:hover a{
  font-weight: 900;
}

.contact-button:hover {
  transform: scale(1.1);
}




@media (min-width: 768px) and (max-width: 1200px) {
  .post-intro {
    flex-direction: column;
    gap: 30px;
  }

  .post-intro p {
    flex: 1;
    margin: 0 20px;
  }

  .post-intro img {
    flex: 0 0 40%;
  }
}






footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding-bottom: 30px;
}

.footer-laptop {
  display: none;
}


.links-container {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.links-title {
  border-bottom: solid 1px white;
}


.links-list ul {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.links-list ul, ul li a {
  text-decoration: none;
  font-style: none;
  color: white;
  list-style-type: none;
}


.footer-brand-container {
  width: 100%;
  padding: 0 10px;

  max-width: 800px;

  display: flex;
  justify-content: center;
  align-items: start;
  
}

.footer-brand-container img{
  width: 40%;
  object-fit: contain;
  max-width: 140px;
}

.socials-container {
  margin-top: 20px;
  width: 55%;

  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: end;

  gap: 10px;
}

.socials-text {
  width: 100%;
  text-align: left;
}

.socials-icons {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}


.socials-icons a img {
  width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.cell {
  width: 200px;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: -20px;
}

.cell a {
  font-style: none;
  color: black;
  font-weight: 600;
}

.footer-text {
  width: 85%;
  text-align: center;
  font-style: italic;
}

.footer-bottom {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
}

.footer-bottom p a {
  font-style: none;
  color: white;
}


  .control-cont {
    width: min(500px, 100vw);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
   
  }

  .control-cont .slide1 {
     
    color: orangered;
    font-weight: 600;
  }

  .slide1 {
    height: 50px;
    width: 65px;
    border: none;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%);
    font-weight: 600;
    margin-left: -5px;
  }

  .slide-end { 
    clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 0% 100%, 25% 50%);
  }

  .slide-start {
    clip-path: polygon(10% 0%, 75% 0%, 100% 50%, 75% 100%, 10% 100%);
  }
  
  


  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    pointer-events: none;
    transform-style: preserve-3d;
    perspective-origin: center;
  }


  .workflow-title {
    font-size: 1.6em;
    font-weight: 800;
    position: relative;
    transform: translateZ(2px);
  } 

  .workflow-title::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    color: transparent;
  }


  :root {
    --quantity: 5; 
  }
  
  .slider, .slider1 {
    --quantity: 5; 
  }
  
  .slider .item:nth-child(1) {
    --position: 1;
  }
  
  .slider .item:nth-child(2) {
    --position: 2;
  }
  
  .slider .item:nth-child(3) {
    --position: 3;
  }
  
  .slider .item:nth-child(4) {
    --position: 4;
  }
  
  .slider .item:nth-child(5) {
    --position: 5;
  }

  .slider1 .item:nth-child(1) {
    --position: 1;
  }
  
  .slider1 .item:nth-child(2) {
    --position: 2;
  }
  
  .slider1 .item:nth-child(3) {
    --position: 3;
  }
  
  .slider1 .item:nth-child(4) {
    --position: 4;
  }
  
  .slider1 .item:nth-child(5) {
    --position: 5;
  }
  

  .macro {
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    transform: perspective(3000px);
  }

  .slider {
    position: absolute;
    min-width: min(300px, 90%);
    min-height: 400px;
    top: 40%;
    left: calc(50% - 150px);
    transform-style: preserve-3d;
    transform: perspective(3000px);

    animation: autoCarousel 25s infinite;
  }

  .slider .item {
    position: absolute;
    inset: 0 0 0 0; 
    transform: 
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
      translateZ(350px);
    transition: visibility 0.6s, opacity 0.6s;
  }

  .hiw-slide {
    inset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-bottom: 40px;
    border: solid 1px white;
    text-align: center;
    background-color: black;
  }

  .hiw-number {
    font-size: 4em;
    font-weight: 900;
    opacity: 0.6;
  }
  
  .hiw-title {
    font-size: 1.5em;
    font-weight: 800;
  }
  
  .hiw-description {
    margin-top: 20px;
    width: 85%;
  }

  @keyframes autoCarousel {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(-360deg);
    }
  }

@media (min-width: 770px) {


  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    pointer-events: none;
    transform-style: preserve-3d;
    perspective-origin: center;
  }


  .workflow-title {
    font-size: 3em;
    font-weight: 800;
    position: relative;
    transform: translateZ(2px);
  } */

  .workflow-title::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #ff5100;
    color: transparent;
  }


  :root {
    --quantity: 5; 
  }
  
  .slider, .slider1 {
    --quantity: 5; 
  }
  
  .slider .item:nth-child(1) {
    --position: 1;
  }
  
  .slider .item:nth-child(2) {
    --position: 2;
  }
  
  .slider .item:nth-child(3) {
    --position: 3;
  }
  
  .slider .item:nth-child(4) {
    --position: 4;
  }
  
  .slider .item:nth-child(5) {
    --position: 5;
  }

  .slider1 .item:nth-child(1) {
    --position: 1;
  }
  
  .slider1 .item:nth-child(2) {
    --position: 2;
  }
  
  .slider1 .item:nth-child(3) {
    --position: 3;
  }
  
  .slider1 .item:nth-child(4) {
    --position: 4;
  }
  
  .slider1 .item:nth-child(5) {
    --position: 5;
  }
  

  .macro {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    transform: perspective(3000px);
  }

  .slider {
    position: absolute;
    min-width: 300px;
    min-height: 400px;
    top: 40%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(3000px);

    animation: autoCarousel 25s infinite;
  }

  .slider .item {
    position: absolute;
    inset: 0 0 0 0; 
    transform: 
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
      translateZ(350px);
    transition: visibility 0.6s, opacity 0.6s;
  }

  /* .slider1 {
    position: absolute;
    width: 100px;
    min-height: 100px;
    top: 5%;
    left: calc(50% - 50px);
    transform-style: preserve-3d;
    transform: perspective(3000px);

    animation: autoCarousel 25s infinite;
  }

  .index {
    position: absolute;
    inset: 0 0 0 0;
    background-color: orangered;
    transform: 
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
      translateZ(68px);
    transition: visibility 0.6s, opacity 0.6s;

    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(255, 148, 244);
  }
   */
  .hiw-slide {
    inset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-bottom: 40px;
    border: solid 1px white;
    text-align: center;
    background-color: black;
  }

  .hiw-number {
    font-size: 4em;
    font-weight: 900;
    opacity: 0.6;
  }
  
  .hiw-title {
    font-size: 1.5em;
    font-weight: 800;
  }
  
  .hiw-description {
    margin-top: 20px;
    width: 85%;
  }

  @keyframes autoCarousel {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(-360deg);
    }
  }
  
  .footer-mobile {
    display: none;
  }

  .footer-laptop {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
  }


  .footer-top {
    width: 100%;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    gap: 10%;
    height: 180px;
  }

  .logo-vertical {
    width: 15%;
    
    display: flex;
    align-items: center;
  }

  .logo-footer {
    width: 120%;
    object-fit: contain;
  }

  .links-container {
    width: 50%;

  }

  .socials-right {
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
  }


  .footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

  .footer-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .copy-cont a {
    color: white;
    font-style: none;
  }
}


.slideRight {
  animation: slideRightAnimation both;
  animation-timeline: view(70% 15%);
}

.slideLeft {
  animation: slideLeftAnimation both;
  animation-timeline: view(70% 15%);
}

.slideDown {
  animation: slideDownAnimation both;
  animation-timeline: view(70% 15%);
}

@keyframes slideDownAnimation {
  from {
    opacity: 0.2;
    transform: translateY(-10px) scale(0.1);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideLeftAnimation {
  from {
    opacity: 0.2;
    transform: translateX(100px) scale(1);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slideRightAnimation {
  from {
    opacity: 0.2;
    transform: translateX(-100px) scale(1);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes lazySpin {
  0% {
    transform: rotate(0deg) scale(1.05);
  }
  50% {
    transform: rotate(180deg) scale(1.1); /* Midpoint with slight scaling */
  }
  100% {
    transform: rotate(360deg) scale(1.05);
  }
}


footer {
  background-image: linear-gradient(to top, orangered, black);
}