html {
  background-color: black;
  color: white;
  font-family: "Host Grotesk", "Poppins";
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

html * {
  margin: 0;
  padding: 0;
}


header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 1);
  z-index: 100000;
}

.header-img video {
  height: 100%;
  object-fit: cover;
}


.hamburger-icon {
  opacity: 0.9;
  width: 30px;
  height: 4px;
  position: fixed;
  top: 30px;
  right: 25px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  z-index: 1001;
}

.hamburger-icon::before, .hamburger-icon::after {
  content: '';
  background-color: #fff;
  width: 90%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 10px;
  transition: transform 0.4s ease-in-out;
}

.hamburger-icon::after {
  top: -10px;
}

.hamburger-icon.clicked {
  background-color: transparent;
  z-index: 1003;
}

.hamburger-icon.clicked::before {
  transform: rotate(45deg);
  top: 0;
  left: 50%;
}

.hamburger-icon.clicked::after {
  transform: rotate(-45deg);
  top: 0;
  left: 50%;
}

/* Menu Container */
.hamburger-container {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.4s ease;
  position: fixed;
  top: 0;
  right: 0;
  width: 32%;
  background-color: #131515;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 60px;
  z-index: 1002;
}

.hamburger-container-active {
  transform: translateX(0);
  opacity: 1;
}

.hamburger-container .hamburger-link {
  display: none;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  height: 40px;
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}

.hamburger-container-active .hamburger-link {
  display: block;
}

body.menuOpen .content-wrapper {
  filter: blur(5px);
}


.hamburger-container .special-link {
  color: black;
  background-color: #ff5100;
  padding: 2px 10px;
  font-weight: 800;
}


.intro-section {
  position: relative;
  top: 40px;
  height: 700px;
  padding: 40px 0;
}


#particles-js {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.intro-content {
  position: relative;
  z-index: 1;
  width: 90%;
  height: 100%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.intro-title {
  width: 100%;
  font-size: 3em;
  font-family: "Bowbly One", "Host Grotesk", "Poppins";
  font-weight: 800;
}

.intro-subtitle {
  font-size: 1.6em;
}



.services-intro-container {
  width: 100vw; /* Full viewport width */
  height: 90px;
  background-color: #F56F31; /* Orange */
  overflow: hidden; /* Hide overflowing content */
  display: flex;
  align-items: center;
  position: relative;
}

.services-wrapper {
  display: flex;
  animation: scroll-left 10s linear infinite; /* Smooth scroll */
  width: calc(200%); /* Double the content width to prevent jumps */
}

/* Individual service items */
.service-intro {
  flex: 0 0 auto;
  margin: 0 60px; /* Spacing between items */
  color: black;
  font-size: 1.6em;
  font-weight: 800;
}

/* Scrolling animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0); /* Start at the initial position */
  }
  100% {
    transform: translateX(-50%); /* Move half of the content width */
  }
}

.post-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #fff; /* White text to stand out on black background */
  font-size: 1.2em;
  line-height: 1.8;
  text-align: center;
}

.post-intro p {
  margin: 0;
  font-size: 1em;
}

.post-intro img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded edges for a modern touch */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

.post-intro p:first-of-type {
  font-weight: 700; /* Emphasize the opening statement */
  font-size: 1.3em;
}

.post-intro p:last-of-type {
  font-style: italic; /* Add subtle emphasis to the closing statement */
}

.service-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;

  background-color: azure;
  padding-bottom: 30px;
}

.service-text-title {
  color: black;
}

.service-item-container {
  position: relative;
  color: black;
  width: 90%;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  gap: 8px;

  opacity: 0.8;
}

.service-item-container::after {
  content:'';
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: gray;
  opacity: 0.8;
}

.service-item-container:hover {
  opacity: 1;
}

.svc-number {
  font-size: 1.2em;
  font-weight: 700;
}

.service-item-container h3 {
  font-size: 1.5em;
}

.service-item-container ul {
  list-style-type: none;
  padding-left: 20px;
}

/* ------------WORKFLOW------------------ */

.workflow-container {
  width: 90%;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/* Custom Scrollbar */
.scroll-container {
  width: 100%;
  height: 90px;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.current-slide {
  font-size: 1.2em;
}

.custom-scrollbar {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
}

.scroll-indicator {
  width: 20px; 
  height: 20px;
  background-color: #ff00ff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: all 0.3s ease;
}

.hiw-container {
  width: 100%;
  overflow-x: scroll;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}

.hiw-slide {
  min-width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-bottom: 20px;
}

.hiw-number {
  font-size: 4em;
  font-weight: 900;
  opacity: 0.6;
}

.hiw-title {
  font-size: 1.5em;
  font-weight: 800;
}

.hiw-description {
  margin-top: 20px;
  width: 85%;
}

/* ------------SAMPLES------------------ */


.samples-container {
  width: 90%;
  margin: 20px auto;

  background-color: black;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.website-snippet {
  width: 100%;
  height: 600px;
  margin: 20px auto;
  position: relative; /* To position the overlay on top of the image */
  overflow: hidden; /* Ensure everything stays within bounds */
}

.website-snippet img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the area nicely */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.website-snippet iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none; 
  border: none;
}

.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3); 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

iframe::-webkit-scrollbar {
  width: 8px;
}

iframe::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.website-snippet:hover .iframe-overlay {
  opacity: 1; 
}

.activate-iframe {
  padding: 10px 20px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.activate-iframe:hover {
  background-color: #005bb5;
}

.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 0%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0.2;
    transform: translateY(100px) scale(0.2) rotateY(90deg);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1) rotateY(0deg);
  }
}


/* ------------TESTIMONIALS------------------ */


.testimonials-container {
  width: 90%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  overflow-x: scroll;
}

.reviews-container {
  width: 100%;

  overflow-x: hidden;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
}

.review-slide {
  min-width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.review-body {
  width: 90%;
  font-size: 1.1em;
}

.review-by {
  font-size: 1.2em;
  font-weight: 700;
}

.buttons-row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-row .left-arrow, .right-arrow {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 3em;
  font-weight: 400;
}

.left-arrow:active, .right-arrow:active {
  opacity: 0.8;
  transform: scale(0.9);
}


/* Slider itself */
.review-slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 250px;
  height: 1px;
  background: orangered;
  border-radius: 50px;
  transition: background 0.3s ease;
  margin: 0 15px;
}

/* When the slider is hovered */
.review-slider:hover {
  background: #bbb;
}

/* The thumb (the circle) of the slider */
.review-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 4px;
  background: rgb(255, 0, 225);
  cursor: pointer;
  transform: translateY(-1px);
  transition: background 0.3s ease, transform 0.3s ease;
}

.review-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Hover effects for the thumb */
.review-slider::-webkit-slider-thumb:hover {
  background: #555;
  transform: scale(1.2);
}

.review-slider::-moz-range-thumb:hover {
  background: #555;
  transform: scale(1.2);
}

/* Optional: Styling for the track of the slider to give it more dimension */
.review-slider::-webkit-slider-runnable-track {
  height: 2px;
  background: #ddd;
  border-radius: 50px;
}

.review-slider::-moz-range-track {
  height: 2px;
  background: #ddd;
  border-radius: 50px;
}


/* ------------CONTACT-FOOTER------------------ */

.contact-container {
  width: 90%;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.contact-button {
  position: relative; /* To position ::before */
  border: solid 0.5px gray;
  background-color: transparent;
  color: gray;
  margin-top: 40px;
  height: 180px;
  width: 180px;
  border-radius: 90px;
  overflow: hidden; /* Clip the tie-dye effect */
  transition: color 0.3s ease;
  cursor: pointer; 
  background-color: rgb(255, 0, 204);
}

.contact-button a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}


.contact-button:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}



@media (min-width: 768px) {
  .post-intro {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    text-align: left;
  }

  .post-intro p {
    flex: 1;
    margin: 0 20px;
  }

  .post-intro img {
    flex: 0 0 40%;
  }
}



footer {
  width: 100%;
  background-image: linear-gradient(black, #ff00ff);
  font-weight: 700;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer .footer-text {
  font-weight: 400;
  color: white;
  text-align: center;
  font-style: italic;
}

.footer-socials {
  color: white;
}

.socials-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socials-icons a {
  height: 50px;
  width: 50px;
}

.socias-icons img {
  width: 50px;
  object-fit: contain;
}